/* estilos.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 1em;
}

main {
    padding: 1em;
}

h1, h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 0.5em;
}

audio {
    width: 100%;
    max-width: 400px;
    display: block;
    margin-bottom: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}
.content {
    margin-left: 200px;
    padding: 20px;
}

table {
    width: auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}
<style>
  .contenedor {
    width: 600px; /* Ancho del contenedor */
    height: 100px; /* Alto del contenedor */
    border: 2px solid black; /* Bordes para visualizar el contenedor */
    padding: 10px; /* Espaciado interno */
    overflow: auto; /* Desplazamiento si el contenido excede el tamaño */
    /* overflow: hidden; Ocultar contenido excedente */
    /* word-wrap: break-word; Para asegurar que el texto se ajuste */
  }
  </style>
